 <footer class="footer">
  <div class="container">
    <p class="text-muted">
      My Recipes App | Developed by Vinicius Moraes for The Professional RoR Developer course.
    </p>
  </div>
</footer>